/* You can add global styles to this file, and also import other style files */
@media only screen and (min-width: 960px) {
    body {
        background-image: url('./assets/background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 35% 120%;
        background-position: right;
    }
}