.button {
    width: 50%;
    height: 45px;
    background-color: #F29224;
    border-radius: 20px;
    margin: auto;
    display: flex;
    cursor: pointer;
}
.buttontext {
    margin: auto;
    color: white;
    font-size: 150%;
    font-family: monospace;
}
.content {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    justify-content: space-around;
}
.text {
    text-align: center;
    width: 75%;
    margin: auto;
    font-family:monospace;
    font-size: 130%;
    color: grey;
}
.logo {
    height: 70px;
}
.imghome {
    height: 260px;
}

/* You can add global styles to this file, and also import other style files */
@media only screen and (max-width: 960px) {
    .content {
        width: 100%;
    }
    .text {
        width: 92%;
        font-size: 110%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    .buttontext {
        font-size: 130%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .logo{
        height: 60px;
    }
    .imghome {
        height: 170px;
        margin-top: 30vw;
    }
    .button {
        width: 80%;
    }
}