<img src="../../assets/hellodjo-logo.jpg" class="logo"/>
<br>
<div class="content"> 
    <div style="text-align: center;">
        <img src="../../assets/hellodjo-logo.jpg" class="imghome"/>
        <div class="text" > Une prise à changer ? Une serrure à remplacer ? 
            Un WC à changer ?
           <div *ngIf="mobile"> <br></div> Ne vous inquiétez pas, 
            Djo vous trouve une solution pour vos 
            petits travaux à réaliser à votre domicile. <br>
            <div *ngIf="mobile"> <br></div> Pour effectuer votre demande, rien de plus simple:
        </div>
        <br><div *ngIf="!mobile"> <br></div>
        <div class="button">
            <div class="buttontext">
                Demander un devis
            </div>
        </div>
    </div>
</div>
<div *ngIf="!mobile" style="display: inline-block;width: 50%;text-align: center;">
    <img src="../../assets/bricoleur.png" style="height:380px;"/>
</div>
