<img *ngIf="!mobile" src="../../assets/hellodjo-logo.jpg" class="logo"/>
 
<div *ngIf="mobile" style="display: inline-flex;justify-content: space-between;width: 100%;">
    <img src="../../assets/hellodjo-logo.jpg" class="logo"/>
    <img src="../../assets/bricoleur.png" style="height:60px;"/>
</div>

<br>
<div class="content"> 
    <div style="text-align: center;">
        <img src="../../assets/hellodjo-logo.jpg" class="imghome"/>
        <div class="text" > Une prise à changer, 
            un WC à remplacer ?<br>
            Ne vous inquiétez pas, 
            Djo trouve une solution pour tous les 
            petits travaux à réaliser dans votre domicile. 
            Pour faire une demande, rien de plus simple :
        </div>
        <br><div *ngIf="!mobile"> <br></div>
        <div class="button">
            <div class="buttontext">
                Demander un devis
            </div>
        </div>
    </div>
</div>
<div *ngIf="!mobile" style="display: inline-block;width: 50%;text-align: center;">
    <img src="../../assets/bricoleur.png" style="height:380px;"/>
</div>
