.button {
    width: 50%;
    height: 45px;
    background-color: #F29224;
    border-radius: 15px;
    margin: auto;
    display: flex;
    cursor: pointer;
}
.buttontext {
    margin: auto;
    color: white;
    font-size: 150%;
    font-family: monospace;
}